<h1>StaticPages#welcome</h1>
<p>Find me in app/views/static_pages/welcome.html.erb</p>

<span class="navbar-text">
<% if user_signed_in? %>
        <div> Welcome <%= current_user.email %> </div>
        <p> Zalogowałeś się jako <%= current_user.role %> </p>
        <% if current_user.student? %>
            <p> Jestes studentem </p>
        <% end %>   
        <% if current_user.promoter? %>
            <p> Jestes promotorem </p>
        <% end %>
        <% if current_user.admin? %>
            <p> Jestes adminem </p>
        <% end %>
            <%= button_to "Wyloguj", destroy_user_session_path, method: :delete %>
        <% else %>
            <%= button_to "Zaloguj", new_user_session_path %>
<% end %>
</span>
