body {
    font-size: 20px;
    font-family: 'Century Gothic',  monospace; 
    margin: 0%;
    padding: 0%;
    background-color: #f4f4f4;
}

.cont {
    position: fixed;
    width: 100%;
    height: 10%;
    top: 0;
    left: 0;
    background-color: #383E42;
    padding: 5px;
}

.a {
    width: 8%;
    height: 10%;
    float: left;
}

.b {
    display: block;
    float: left;
    width: 60%;
    height: 10%;
    padding-top: 20px;
}

.c {
    float: left;
    margin-top: 20px;
    width: 28%;
}

.main {
    position: block;
    width: 100%;
    padding: 30px;
    margin-top: 60px;
}

.lewy {
    text-align: justify;
    padding-left: 50px;
    margin-top: 20px;
    float: left;
    width: 40%;
}

.prawy {
    padding-left: 240px;
    float: left;
    width: 40%;
    margin-top: 0;
}

.button {
    border: 3px solid #7CB06D;
    color: #383E42;
    border-radius: 5px;
    text-decoration: dotted;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #7CB06D;
    color: white;
    border-color: #7CB06D;
}

footer {
    background-color: #383E42;
    color: #f5f5f5;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 98%;
    height: 5%;
    text-align:right;
}

.bookmark {
    color: #f5f5f5;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    color: #333;
}

.tekst {
    color: #7CB06D;
    text-shadow: 0.1em 0.1em 0.2em #bebebe;
    font-weight: bold;
}

/* MENU */
ol {
    list-style-type:none;
    padding:0;
    margin:0;
    font-size:18px;
    height:2em;
    line-height:2em;
    text-align:center;
  }

  ol .bookmark {
    display:block;
    text-decoration:none;
    color:#f5f5f5;
    padding:0 5px;
  }

  ol > li {
    float:left;
    width:180px;
    margin-left:1px;
    background-color:#383E42;
    height:2em;
  }

  ol > li:first-child {
    margin-left:0;
  }

  ol > li:hover {
    background-color:#EEE;
  }

  ol > li:hover > .bookmark {
    color:#7CB06D;
  }

  /* WYSZUKIWANIE NA STRONIE */

  /* Stylowanie podstawowe */
input[type="search"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s;
    font-family: 'Century Gothic',  monospace; 
}

/* Efekt po najechaniu myszą */
input[type="search"]:hover {
    border-color: #555;
}

/* Cień dla efektu uniesionego pola */
input[type="search"]:focus {
    box-shadow: 0 0 5px #7CB06D;
    border-color: #7CB06D;
}

/* Dodatkowy efekt dla przeglądarek obsługujących WebKit, takie jak Chrome lub Safari */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-clear-button {
    appearance: none;
    display: none;
}

/* Stylowanie ikony lupy w przeglądarkach obsługujących WebKit */
input[type="search"]::-webkit-search-icon {
    appearance: none;
    background-color: transparent;
}

/* Dodatkowy efekt dla przeglądarek obsługujących Firefox */
input[type="search"]::-moz-search-cancel-button,
input[type="search"]::-moz-search-clear-button {
    appearance: none;
    display: none;
}

/* Stylowanie ikony lupy w przeglądarkach obsługujących Firefox */
input[type="search"]::-moz-search-results {
    padding: 0;
}
