.gora {
  height:40%;
  width:100%;
}

.main {
  margin-top:60px;
  margin-bottom: 1000px;
}

.dol {
  height:90%;
  width: 98%;
}

.materialy {
  text-decoration: double;
  text-shadow: 0.1em 0.1em 0.2em lightgray;
  color: #7CB06D;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

td.przy {
  text-align: center;
  width:10%;
}

th {
  background-color: #e5e4e2;
  color: #333;
}


h2 {
  text-align: center;
}

.download-button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #7CB06D;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.download-button:hover {
  background-color: #45a049;
}

body {
  font-size: 20px;
  margin: 0%;
  padding: 0%;
  scroll-behavior: smooth;
}

.cont {
  position: fixed;
  width: 100%;
  height: 10%;
  top: 0;
  left: 0;
  background-color: #383E42;
  padding: 5px;
}

.a {
  width: 8%;
  height: 10%;
  float: left;
}

.b {
  display:block;
  float: left;
  color: #f5f5f5;
  width: 60%;
  height: 10%;
  padding-top: 20px;
}

.c {
  float: left;
  margin-top: 20px;
  width: 28%;
}

.main {
  position: block;
  width: 100%;
  padding: 10px;
  margin-top: 100px;
}

.lewy {
  padding-left: 0px;
  margin-top: 0px;
  float: left;
  width: 40%;
}

.lewy_g {
height: 60%;
}

.lewy_d {
padding: 1px;
width: 35%;
margin-bottom: 0px;
}

.prawy {
  padding-top: 25px;
  padding-left: 260px;
  float: left;
  width: 40%;
}

.przycisk {
  border: 3px solid #7CB06D;
  color: #383E42;
  border-radius: 5px;
  text-decoration: dotted;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.przycisk:hover {
  background-color: #7CB06D;
  color: white;
  border-color: #7CB06D;
}

footer {
<<<<<<< HEAD
  background-color: #383E42;
  color: #f5f5f5;
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 98%;
  height: 5%;
  text-align: right;
}

h4 {
border: 3px outset #7CB06D;
text-align: center;
margin-top: 0px;
padding: 0;
=======
    background-color: #383E42;
    color: #f5f5f5;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 98%;
    height: 5%;
    text-align: right;
}

h4 {
  border: 3px outset #7CB06D;
  text-align: center;
  margin-top: 0px;
  padding: 0;
>>>>>>> 9d4a4227e0f5e8b35a63d9ae6cd5293ba455f68b
}

.tekst {
text-align: justify;
margin-left: 50px;
}

.pra {
background-color: #7CB06D;
border-radius: 8px;
border: solid #383E42;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
padding: 30px;
max-width: 400px;
width: 100%;
text-align: center;
}

.indeks {
text-decoration: double;
text-shadow: 0.1em 0.1em 0.2em black;
color: #f5f5f5;
}

.czas {
color: #800020;
font-weight: bold;
text-shadow: 0.1em 0.1em 0.2em gray ;
}

/* MENU */

ol {
<<<<<<< HEAD
list-style-type:none;
padding:0;
margin:0;
font-size:18px;
height:2em;
line-height:2em;
text-align:center;
}

ol .bookmark {
display:block;
text-decoration:none;
color:#f5f5f5;
padding:0 5px;
}

ol > li {
float:left;
width:180px;
margin-left:1px;
background-color:#383E42;
height:2em;
}

ol > li:first-child {
margin-left:0;
}

ol > li:hover {
background-color:#EEE;
}

ol > li:hover > .bookmark {
color:#7CB06D;
}

ol > li > ul {
display:none;
list-style-type:none;
padding:0;
margin:0;
}

ol > li:hover > ul {
display:block;
}

ol > li > ul > li {
position:relative;
background-color:#EEE;
}

ol > li > ul > li > .bookmark {
display:block;
border-top:1px solid #FFF;
color: #383E42;
}

ol > li > ul > li:hover {
display:block;
background-color:#DDD;
}

ol > li > ul > li:hover > .bookmark {
color:#7CB06D;
=======
  list-style-type:none;
  padding:0;
  margin:0;
  font-size:18px;
  height:2em;
  line-height:2em;
  text-align:center;
}

ol .bookmark {
  display:block;
  text-decoration:none;
  color:#f5f5f5;
  padding:0 5px;
}

ol > li {
  float:left;
  width:180px;
  margin-left:1px;
  background-color:#383E42;
  height:2em;
}

ol > li:first-child {
  margin-left:0;
}

ol > li:hover {
  background-color:#EEE;
}

ol > li:hover > .bookmark {
  color:#7CB06D;
}

ol > li > ul {
  display:none;
  list-style-type:none;
  padding:0;
  margin:0;
}

ol > li:hover > ul {
  display:block;
}

ol > li > ul > li {
  position:relative;
  background-color:#EEE;
}

ol > li > ul > li > .bookmark {
  display:block;
  border-top:1px solid #FFF;
  color: #383E42;
}

ol > li > ul > li:hover {
  display:block;
  background-color:#DDD;
}

ol > li > ul > li:hover > .bookmark {
  color:#7CB06D;
>>>>>>> 9d4a4227e0f5e8b35a63d9ae6cd5293ba455f68b
}

/* WYSZUKIWANIE NA STRONIE */

/* Stylowanie podstawowe */
input[type="search"] {
<<<<<<< HEAD
padding: 8px;
border: 1px solid #ccc;
border-radius: 5px;
outline: none;
font-size: 16px;
transition: border-color 0.3s;
font-family: 'Century Gothic',  monospace; 
=======
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  transition: border-color 0.3s;
  font-family: 'Century Gothic',  monospace; 
>>>>>>> 9d4a4227e0f5e8b35a63d9ae6cd5293ba455f68b
}

/* Efekt po najechaniu myszą */
input[type="search"]:hover {
<<<<<<< HEAD
border-color: #555;
=======
  border-color: #555;
>>>>>>> 9d4a4227e0f5e8b35a63d9ae6cd5293ba455f68b
}

/* Cień dla efektu uniesionego pola */
input[type="search"]:focus {
<<<<<<< HEAD
box-shadow: 0 0 5px #7CB06D;
border-color: #7CB06D;
=======
  box-shadow: 0 0 5px #7CB06D;
  border-color: #7CB06D;
>>>>>>> 9d4a4227e0f5e8b35a63d9ae6cd5293ba455f68b
}

/* Dodatkowy efekt dla przeglądarek obsługujących WebKit, takie jak Chrome lub Safari */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-clear-button {
<<<<<<< HEAD
appearance: none;
display: none;
=======
  appearance: none;
  display: none;
>>>>>>> 9d4a4227e0f5e8b35a63d9ae6cd5293ba455f68b
}

/* Stylowanie ikony lupy w przeglądarkach obsługujących WebKit */
input[type="search"]::-webkit-search-icon {
<<<<<<< HEAD
appearance: none;
background-color: transparent;
=======
  appearance: none;
  background-color: transparent;
>>>>>>> 9d4a4227e0f5e8b35a63d9ae6cd5293ba455f68b
}

/* Dodatkowy efekt dla przeglądarek obsługujących Firefox */
input[type="search"]::-moz-search-cancel-button,
input[type="search"]::-moz-search-clear-button {
<<<<<<< HEAD
appearance: none;
display: none;
=======
  appearance: none;
  display: none;
>>>>>>> 9d4a4227e0f5e8b35a63d9ae6cd5293ba455f68b
}

/* Stylowanie ikony lupy w przeglądarkach obsługujących Firefox */
input[type="search"]::-moz-search-results {
<<<<<<< HEAD
padding: 0;
=======
  padding: 0;
>>>>>>> 9d4a4227e0f5e8b35a63d9ae6cd5293ba455f68b
}