table {
    margin-bottom: 60px;
    width: 98%;
    border-collapse: collapse;
  }
  
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  td.t {
    font-weight: bold;
  }
  
  tr.dwa {
    background-color: #e5e4e2;
  }
  
  tr.h {
    height: 100px;
  }
  
  tr.hd {
    height: 100px;
    background-color: #e5e4e2;
  }
  
  tr:hover {
    background-color: #7CB06D;
  }

  .p {
    text-align: right;
    float: left;
    width: 18%;
    margin-bottom: 60px;
  }
  

  h4 {
    border: 3px outset #7CB06D;
    text-align: center;
    margin-top: 25px;
    margin-left: 25px;
    padding: 0;
    }